<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="\img\aqmesh-square logo (white).jpg" alt="AQMesh Logo" style="width: 100px; height: 100px;"/>
      <h3>Welcome!</h3>
      <p>To learn more about AQMesh Pods and how to register your own, click the button below!</p>
      <a href="https://www.aqmesh.com/products/aqmesh/" target="_blank">
        <input type="submit" name="" value="Learn More" style="width: auto; padding: 5%;"/><br/>
      </a>
    </div>

    <div class="col-md-9 register-right">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading" style="align-self: center;">AQMesh Data Tracking</h3>
            <div class="center">
              <div class="new-col-md-6">

                <!-- DATA WILL BE SUBMITTED HERE -->
                <p style="margin: 20%; text-align: center; color: red; border: 3px solid red;">Requested data will appear here:</p>

                <div class="form-group">
                  <form class="button_submit" action="home" method="get">
                    <input type="submit" class="btnRegister" value="Homepage" id="submitBtn"/>
                  </form>
                </div>

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
